<div class="row">
	<div class="col-md-12">
		<!-- BEGIN BasicTable-->
		<div class="tab-pane active">
			<div class="portlet light">
				<div class="portlet-body form">
					<form  class="form-horizontal" role="form" name="CBDetail">
						<div class="form-body">
							<div class="form-group">
								<label class="col-md-2 control-label">所属产品<span class="required"> * </span></label>
								<div class="col-md-4">
									<select ng-model="BelongProID" ng-options="o.ID as o.ProductName for o in ProductArrs" class="form-control">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">食谱名称<span class="required"> * </span></label>
								<div class="col-md-4">
									<input name="Name" ng-model="Name" type="text" class="form-control" placeholder="必填" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">食谱简介<span class="required"> * </span></label>
								<div class="col-md-4">
									<textarea name="Description" ng-model="Description" class="form-control" rows="3" placeholder="必填" required></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">食谱类别<span class="required"> * </span></label>
								<div class="col-md-4">
									<select  ng-model="CBCategory" ng-options="o.ID as o.CategoryName for o in CBCategorys" class="form-control">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="title"></label>
								<div class="col-md-5">
									<input ng-disabled="!CBDetail.Name.$valid||!CBDetail.Description.$valid||!BelongProID||!CBCategory" ng-click="AddCBFun()" class="btn blue-steel" type="submit" value="继续"/>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END BasicTable-->
</div>