<div class="inbox">
	<div class="row">
		<div class="col-md-2">
			<div class="inbox-sidebar">
				<ul class="inbox-nav">
					<li ng-repeat="item in accountCate" ng-class="{active:Curpage==item.ID}">
						<a ng-click="CheckMenu(item.ID)">{{item.Name|translate}}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="inbox-body">
				<div class="inbox-header">  
					<h4 class="pull-left">{{accountCate[Curpage-1].Name|translate}}</h4>
				</div>
				<div class="inbox-content">
					<div ng-show="Curpage==1" ng-include="'views/account/myacconut.html'"></div>
					<div ng-show="Curpage==2" ng-include="'views/account/recharge.html'"></div>
					<div ng-show="Curpage==3" ng-include="'views/account/dealrecord.html'"></div>
					<div ng-show="Curpage==4" ng-include="'views/account/bill.html'"></div>
					<div ng-show="Curpage==5" ng-include="'views/account/invoice.html'"></div>
					<div ng-show="Curpage==6" ng-include="'views/account/refund.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div> 
