<div class="row">
	<div class="col-md-12">
		<!-- BEGIN Search Line -->
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<i ng-click="SearchDevice()" class="icon-magnifier"></i>
					<input ng-model="Keyword" type="text" class="form-control" placeholder="{{'请输入关键字'|translate}}"> 
				</div>
			</div>
			<div class="form-group col-lg-3" >
				<select  ng-change="SearchDevice()" ng-model="BelongProID" ng-options="o.productid as o.pname for o in ProductArrs" class="form-control">
					<option value=""></option>
				</select>
			</div>
			<!-- 
			<div class="form-group col-lg-1">
				<a href="#/device/device_details.html" class="btn bg-blue-steel bg-font-blue-steel"> <i class="fa fa-plus"></i> 添加设备</a>
			</div> -->
		</div>
		<!-- END Search Line -->
		<!-- BEGIN:app_list -->
		<div class="row" ng-show="totalItems===0">
			<div class="form-group col-lg-12"><h4>{{'暂无设备'|translate}}</h4></div>
		</div> 
		<div class="row" ng-show="totalItems!==0">
			<div class="form-group col-lg-12">
				<div class="portlet light bordered">
					<div class="portlet-body">
						<table class="table table-striped table-bordered table-hover ">
							<thead>
								<tr>
									<th> {{'设备ID'|translate}} </th>
									<th> {{'MAC地址'|translate}} </th>
									<th> {{'所属产品'|translate}} </th>
									<th> {{'累计上线次数'|translate}} </th>
									<th> {{'在线时长'|translate}} </th>
									<th> {{'是否有效'|translate}} </th>
									<th> {{'在线状态'|translate}} </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in ListArr">
									<td><a href="#/device/device_details.html?ID={{item.deviceid}}" target="_blank">{{item.deviceid}}</a></td>
									<td>{{item.dsn}}</td>
									<td><a href="#/product/product_details.html?ID={{item.product.productid}}" target="_blank">{{item.product.pname}}</a></td>
									<td>{{item.onlinetimes}}</td>
									<td>{{item.duration}}</td>
									<td>
										<span class="label label-sm label-info" ng-show="item.status"> {{item.IsActiveText}} </span>
										<span class="label label-sm label-warning" ng-show="!item.status"> {{item.IsActiveText}} </span>
									</td>
									<td>
										<span class="label label-sm label-info" ng-show="item.isonline"> {{item.IsOnlineText}} </span>
										<span class="label label-sm label-warning" ng-show="!item.isonline"> {{item.IsOnlineText}} </span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
		</div>
		<!-- BEGIN:app_list -->
	</div>
</div>
