<div ng-controller="TeamController">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="form-group col-lg-3" ng-show="IsAuthority">
					<a data-toggle="modal" data-target="#myModal_parameter" ng-click="ClearForm()" class="btn bg-blue-steel bg-font-blue-steel">{{'添加成员'|translate}}</a>
				</div>
			</div>
			<div class="row" ng-show="!IsAuthority">
				<div class="form-group col-lg-12"><h4>{{'该功能需实名认证通过后使用'|translate}}</h4></div>
			</div> 
			<div class="row" ng-show="IsAuthority">
				<div class="row" ng-show="MemberCount===0">
					<div class="form-group col-lg-12"><h4>{{'暂无成员'|translate}}</h4></div>
				</div> 
				<div class="row" ng-show="MemberCount!==0">
					<div class="form-group col-lg-12">
						<div class="portlet light bordered">
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover ">
									<thead>
										<tr>
											<th> {{'成员名称'|translate}} </th>
											<th> {{'邮件地址'|translate}} </th>
											<th> {{'注册时间'|translate}} </th>
											<th> {{'最后上线时间'|translate}} </th>
											<th> {{'操作'|translate}} </th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in ListArr">
											<td>{{item.user.username}}</td>
											<td>{{item.user.email}}</td>
											<td>{{item.user.date_joined|date:'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>{{item.user.last_login|date:'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>
												<a class="btn bg-red bg-font-red btn-sm" ng-click="DeleteMemberFun(item.user.email)" ng-show="item.user.email!=CurUserEmail"> {{'删除'|translate}} </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" id="myModal_parameter_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_parameter">
			<div id="myModal_parameter" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a href="javascript:;" class="close" data-dismiss="modal" aria-hidden="true"></a>
							<h4 class="modal-title">{{'添加团队成员'|translate}}</h4>
						</div>
						<div class="modal-body">
							<div class="portlet">
								<div class="portlet-body form">
									<form id="AddTeam" class="horizontal-form" name="AddTeam">
										<input type="reset" id="FormReset" hidden="true">
										<div class="form-body">
											<div class="row">
												<div class="form-group col-lg-10">
													<div class="input-icon right">
														<input ng-model="SearchKey" type="text" class="form-control" placeholder='{{'请输入成员地址邮箱'|translate}}" ng-change="SearchPerson()"> 
													</div>
												</div>
												<div class="form-group col-lg-2">
													<a ng-click="SearchPerson()" class="btn bg-blue-steel bg-font-blue-steel">{{'搜索'|translate}}</a>
												</div>
											</div>
											<div ng-show="SearchFlag">
												<div class="form-group row" ng-show="ModaltotalItems===0">
													<div class="form-group col-lg-12"><h4>{{'暂无相关用户'|translate}}</h4></div>
												</div>
												<div class="form-group row" ng-show="ModaltotalItems!==0">
													<div class="form-group col-lg-12">
														<div class="portlet light bordered">
															<div class="portlet-body">
																<table class="table table-striped table-bordered table-hover">
																	<thead>
																		<tr>
																			<th></th>
																			<th> {{'用户名'|translate}} </th>
																			<th> {{'邮箱'|translate}} </th>
																			<th> {{'注册时间'|translate}} </th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr ng-repeat="item in ModalListArr">
																			<td>
																				<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
																					<input type="checkbox" class="checkboxes" ng-click="ModalChoose(item.email)"/>
																					<span></span>
																				</label>
																			</td>
																			<td>{{item.username}}</td>
																			<td>{{item.email}}</td>
																			<td>{{item.date_joined|date:'yyyy-MM-dd HH:mm:ss'}}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<uib-pagination total-items="ModaltotalItems" ng-model="ModalcurrentPage" max-size="ModalmaxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="ModalpageChanged()"></uib-pagination>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary ok"  ng-disabled="!ShowFlag" type="submit" ng-click="AddMemberFun()" >{{'确认'|translate}}</button>
												<button type="button" class="btn btn-default cancel" data-dismiss="modal">{{'取消'|translate}}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>