<div class="row">
	<div class="col-md-12">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-body">
				<div class="mt-element-step">
					<div class="row step-no-background">
						<div class="mt-step-desc">
							<div class="col-md-6 mt-step-col done">
								<div class="mt-step-number font-grey-cascade">1</div>
								<div class="mt-step-title uppercase font-grey-cascade">{{'CP功能组'|translate}}</div>
								<br/>
								<div class="mt-step-content font-grey-cascade">
									<span style="color:#95A5A6!important;font-size:14px;font-weight:normal">{{'面向消费电子生产商，提供包括产品、APP、设备等管理，消息通道，数据存储，设备状态，数据远程同步等功能。'|translate}}</span>
								</div>
							</div>
							<div class="col-md-6 mt-step-col active" ng-show = "false">
								<div class="mt-step-number bg-white font-grey">2</div>
								<div class="mt-step-title uppercase font-grey-cascade">{{'IP功能组'|translate}}</div>
								<br/>
								<div class="mt-step-content font-grey-cascade">
									<span style="color:#95A5A6!important;font-size:14px;font-weight:normal">{{'面向工业设备生产商和集成商，提供包括产品、OTA等管理，数据存储，同步等功能。'|translate}}</span>
								</div>
							</div>
							<div class="col-md-6 mt-step-col error">
								<div class="mt-step-number bg-white font-grey">2</div>
								<div class="mt-step-title uppercase font-grey-cascade">OTA</div>
								<br/>
								<div class="mt-step-content font-grey-cascade">
									<span style="color:#95A5A6!important;font-size:14px;font-weight:normal">{{'面向硬件开发者，提供查询ROM最新版本信息接口，实现智能硬件OTA功能，也可让阿里云等第三方托管实现OTA功能。'|translate}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
				<button ng-click="OpenService()" type="button" class="btn btn-primary btn-lg">{{'开启业务'|translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>