<div class="row">
	<div class="col-md-12">
		<!-- BEGIN Search Line -->
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<i ng-click="SearchUser()" class="icon-magnifier"></i>
					<input ng-model="Keyword" type="text" class="form-control" placeholder="{{'请输入关键字'|translate}}"> 
				</div>
			</div>
			<div class="form-group col-lg-3">
				<select  ng-change="SearchUser()" ng-model="AppID" ng-options="o.ID as o.Name for o in AppArr" class="form-control">
					<option value=""></option>
				</select>
			</div>
		</div>
		<!-- END Search Line -->
		<!-- BEGIN:app_list -->
		<div class="row" ng-show="totalItems===0">
			<div class="form-group col-lg-12"><h4>{{'暂无用户'|translate}}</h4></div>
		</div> 
		<div class="row" ng-show="totalItems!==0">
			<div class="form-group col-lg-12">
				<div class="portlet light bordered">
					<div class="portlet-body">
						<table class="table table-striped table-bordered table-hover ">
							<thead>
								<tr>
									<th> {{'用户账号'|translate}} </th>
									<th> {{'用户ID'|translate}} </th>
									<th> {{'所属应用'|translate}} </th>
									<th> {{'联系方式'|translate}} </th>
									<th> {{'注册日期'|translate}} </th>
									<th> {{'是否有效'|translate}} </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in ListArr">
									<td>{{item.email}}</td>
									<td>{{item.enduserid}}</td>
									<td><a href="#/app/app_details.html?ID={{item.app.appid}}" target="_blank">{{item.app.name}}</a></td>
									<td>{{item.phone}}</td>
									<td>{{item.date_joined}}</td>
									<td>
										<span class="label label-sm label-info" ng-show="item.is_active"> {{item.IsActiveText}} </span>
										<span class="label label-sm label-warning" ng-show="!item.is_active"> {{item.IsActiveText}} </span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
		</div>
		<!-- BEGIN:app_list -->
	</div>
</div>
