<div class="row" ng-controller="ProductDetailsBaseController">
	<div class="col-md-12">
		<div class="fileinput fileinput-new" data-provides="fileinput">
			<span class="btn btn-primary btn-file">
				<span class="fileinput-new"> {{'添加zip包'|translate}} </span>
				<span class="fileinput-exists"> {{'更改'|translate}} </span>
				<input type="file" name="..."> 
			</span>
			<span class="fileinput-filename"> </span> &nbsp;
			<a class="close fileinput-exists" data-dismiss="fileinput"> </a>
		</div>
	</div>
</div>