<div class="row">
	<div class="form-group col-md-12">
		<a><p class="form-group col-md-12  font-blue-steel"><i class="fa fa-question-circle font-blue-steel"> {{'了解如何调试'|translate}} </i></p></a>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-body">
						<h4 class="text-center">{{'模拟设备调试'|translate}}</h4>
						<div class="proval_ContentIcon">
							<i class="icon1"></i>
						</div>
						<div class="proval_Content">
							<div>{{'通过虚拟设备模拟真实设备上报数据的行为'|translate}}</div>
							<div class="text1">
								<p>{{'支持：'|translate}}</p>
								<p>1. {{'上报产品参数'|translate}}</p>
								<p>2. {{'查看通信日志'|translate}}</p>
							</div>
						</div>
						<div class="text-center">
							<a ng-click="ToDebug(0)" class="btn bg-blue-steel bg-font-blue-steel"> {{'进入虚拟设备调试'|translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-body">
						<h4 class="text-center">{{'模拟APP调试'|translate}}</h4>
						<div class="proval_ContentIcon">
							<i class="icon2"></i>
						</div>
						<div class="proval_Content">
							<div>{{'通过云端模拟App向真实设备发送指令'|translate}}</div>
							<div class="text1">
								<p>{{'支持：'|translate}}</p>
								<p>1.{{'发送控制指令'|translate}}</p>
								<p>2.{{'查看通信日志'|translate}}</p>
							</div>
						</div>
						<div class="text-center">
							<a ng-click="ToDebug(1)" class="btn bg-blue-steel bg-font-blue-steel">{{'进入虚拟APP调试'|translate}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>