<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-body">
				<div class="well">
					<h4 class="block">{{'基本信息'|translate}}</h4>
					<p><span class="font-blue-steel">{{'产品名称：'|translate}}</span>{{'填写该产品的名称；'|translate}}</p>
					<p><span class="font-blue-steel">{{'产品品牌：'|translate}}</span>{{'填写该产品的品牌；'|translate}}</p>
					<p><span class="font-blue-steel">{{'产品型号：'|translate}}</span>{{'填写该产品的型号；'|translate}}</p>
					<p><span class="font-blue-steel">{{'产品描述：'|translate}}</span>{{'填写该产品的描述；'|translate}}</p>
					<p><span class="font-blue-steel">{{'产品类别：'|translate}}</span>{{'选择该产品对应的分类；'|translate}}</p>
				</div>
				<div class="well">
					<h4 class="block">{{'产品信息'|translate}}</h4>
					<p><span class="font-blue-steel">{{'产品介绍：'|translate}}</span>{{'填写该产品可实现的整体功能描述；'|translate}}</p>
					<p><span class="font-blue-steel">{{'产品图片：'|translate}}</span>{{'上传该产品的外观图片；'|translate}}</p>
				</div>
				<div class="well">
					<h4 class="block">{{'产品配置'|translate}}</h4>
					<p><span class="font-blue-steel">{{'联网方式：'|translate}}</span>{{'支持WiFi、蓝牙、2G/3G/4G等联网方式；如您选择的是WiFi产品，如您有疑问，请咨询 Fog@mxchip.com；'|translate}}</p>
				</div>
			</div>
		</div>
	</div>
</div>