<div class="row" ng-controller="ProductDetailsAttributeController">
    <div class="col-md-12">
        <!-- BEGIN 属性详情-->
        <div class="portlet light bordered">
            <div class="portlet-title">
              <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="color-demo tooltips btn bg-blue-steel bg-font-blue-steel" data-original-title="{{'点击添加属性'|translate}}" data-toggle="modal" data-target="#myModal_parameter" ng-click="ClearForm()">
                            <i class="fa fa-plus"></i>{{'添加属性'|translate}}
                        </div>
                    </div>
                </div>
            </div> 
            <div class="portlet-body" ng-show="AttrCount===0">
                <div class="form-group col-lg-12"><h4>{{'暂无数据属性信息'|translate}}</h4></div>
            </div>
            <div class="portlet-body" ng-show="AttrCount!==0">
                <table class="table table-bordered table-hove">
                    <thead>
                        <tr>
                            <th> {{'属性标识'|translate}} </th>
                            <th> {{'属性名称 '|translate}}</th>
                            <th> {{'读写类型'|translate}} </th>
                            <th> {{'数据类型'|translate}} </th>
                            <th> {{'参数单位'|translate}} </th>
                            <th> {{'数据操作'|translate}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attr in ProductAttrArr">
                            <td> {{attr.identifier}} </td>
                            <td> {{attr.pname}} </td>
                            <td> {{attr.ParaKeyName}} </td>
                            <td> {{attr.ParaTypeName}} </td>
                            <td> {{attr.units}} </td>
                            <td>
                                <a data-toggle="modal" data-target="#myModal_parameter" class="btn bg-green-soft bg-font-green-soft btn-sm" ng-click="EditProductFun(attr.id)"> {{'编辑'|translate}} </a>
                                <a class="btn bg-red bg-font-red btn-sm" ng-click="DeleteProductFun(attr.id)"> {{'删除'|translate}} </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END 属性详情-->
    </div>
    <div class="col-md-12">
        <!-- BEGIN 属性详情弹框-->
        <input type="hidden" id="myModal_parameter_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_parameter">
        <div id="myModal_parameter" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="javascript:;" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 class="modal-title">{{'产品功能属性'|translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="portlet">
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form id="productpara" class="horizontal-form" name="ProductParam">
                                    <input type="reset" id="FormReset" hidden="true">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">{{'属性标识'|translate}}
                                                        <span class="required"> * &nbsp;&nbsp;{{'由字母下划线和数字组成，以字母下划线开头'|translate}}</span>
                                                    </label>
                                                    <div>
                                                        <input ng-model="ParaIdentifier" name="ParaIdentifier" type="text" class="form-control" ng-blur="ModalValid(1,ParaIdentifier)"  onkeyup="this.value=this.value.replace(/^[^A-Za-z_]/,'')" onafterpaste="this.value=this.value.replace(/^[^A-Za-z_]/,'')" placeholder="{{'必填'|translate}}" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">{{'属性名称'|translate}}
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div>
                                                        <input ng-model="ParaName" name="ParaName" type="text" class="form-control" placeholder="{{'必填'|translate}}" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">{{'读写类型'|translate}}
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div>
                                                        <select ng-model="ParaKey" ng-options="o.pkey as o.ParaKeyName for o in ParaKeys" class="form-control" required>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">{{'数据类型'|translate}}
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div>
                                                        <select ng-model="ParaType" ng-options="o.ptype as o.ParaTypeName for o in ParaTypes" class="form-control" required>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>{{'单位名称'|translate}}</label>
                                                    <div>
                                                        <input ng-model="Units" name="Units" type="text" class="form-control" placeholder="" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>{{'最小值'|translate}}</label>
                                                    <div>
                                                        <input ng-model="Minvalue" name="Minvalue" ng-blur="ModalValid(2,Minvalue)" onkeyup="this.value=this.value.replace(/[^\-?\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\-?\d.]/g,'')" type="text" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>{{'最大值'|translate}}</label>
                                                    <div>
                                                        <input ng-model="Maxvalue" name="Maxvalue" ng-blur="ModalValid(3,Maxvalue)" onkeyup="this.value=this.value.replace(/[^\-?\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\-?\d.]/g,'')" type="text" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>{{'单位符号'|translate}}</label>
                                                    <div>
                                                        <input ng-model="Symbol" name="Symbol"  type="text" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>
                                                        <div class="checker">
                                                            <input ng-checked="IsModify" name="IsModify" ng-click="CheckFun()" type="checkbox" class="checkbox dis-inblock">{{'是否允许修改'|translate}}
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{{'属性描述'|translate}}</label>
                                                    <div>
                                                        <textarea ng-model="ParaDescription" name="ParaDescription"  class="form-control" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 portlet-body">
                                                <div class="table-toolbar">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div id="NewKeyBtn" class="btn-group" ng-click="AddKey()">
                                                                <a class="btn bg-blue-steel bg-font-blue-steel"> {{'新建'|translate}}
                                                                    <i class="fa fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-striped table-hover table-bordered" id="KeyTable">
                                                    <thead>
                                                        <tr>
                                                            <th width="30%"> {{'键名'|translate}}</th>
                                                            <th width="30%"> {{'键值'|translate}}</th>
                                                            <th> {{'操作'|translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-show="CreatKeyFlag">
                                                            <td><input type="text" class="form-control input-small" ng-model="KeyName"></td>
                                                            <td><input type="text" class="form-control input-small" ng-model="KeyValue"></td>
                                                            <td>
                                                                <a class="btn bg-green-soft bg-font-green-soft btn-sm" ng-click="SaveNewKey(1)"> {{'保存'|translate}} </a>
                                                                <a class="btn bg-red bg-font-red btn-sm" ng-click="SaveNewKey(0)"> {{'取消'|translate}} </a>
                                                            </td> 
                                                        </tr>
                                                        <tr ng-repeat="Key in KeyArr" id="{{Key.ID}}">
                                                            <td ng-show="EditFlag!={{Key.ID}}"> {{Key.KeyName}} </td>
                                                            <td ng-show="EditFlag!={{Key.ID}}"> {{Key.KeyValue}} </td>
                                                            <td ng-show="EditFlag!={{Key.ID}}"> 
                                                                <a class="btn bg-green-soft bg-font-green-soft btn-sm" ng-click="EditKey(Key,Key.ID)"> {{'编辑'|translate}} </a>
                                                                <a class="btn bg-red bg-font-red btn-sm" ng-click="DeleteKey(Key)"> {{'删除'|translate}} </a> 
                                                            </td>

                                                            <td ng-show="EditFlag=={{Key.ID}}"> <input id="EditName{{Key.ID}}" type="text" class="form-control input-small" value="{{Key.KeyName}}"></td>
                                                            <td ng-show="EditFlag=={{Key.ID}}"> <input id="EditValue{{Key.ID}}" type="text" class="form-control input-small" value="{{Key.KeyValue}}"> </td>
                                                            <td ng-show="EditFlag=={{Key.ID}}">
                                                                <a class="btn bg-green-soft bg-font-green-soft btn-sm" ng-click="SaveEditKey(1,Key.ID)"> {{'保存'|translate}} </a>
                                                                <a class="btn bg-red bg-font-red btn-sm" ng-click="SaveEditKey(0,Key.ID)"> {{'取消'|translate}} </a>
                                                            </td> 

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="button" class="btn btn-primary ok"  ng-disabled="!ProductParam.ParaIdentifier.$valid||!ProductParam.ParaName.$valid||!ParaKey||!ParaType" type="submit" ng-click="EditAttrFun(ParaID)" >{{'确认'|translate}}</button>
                                            <button type="button" class="btn btn-default cancel" data-dismiss="modal">{{'取消'|translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 属性详情弹框-->
    </div>
</div>