<div class="row" ng-controller="AppDetailsGroupController">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="form-group col-lg-3">
					<div class="input-icon right">
						<i ng-click="SearchDevice()" class="icon-magnifier"></i>
						<input ng-model="Keyword" type="text" class="form-control" placeholder="{{'请输入关键字'|translate}}"> 
					</div>
				</div>
				<div class="form-group col-lg-3">
					<a ng-click="addGroup()" data-original-title="{{'点击添加组'|translate}}" data-toggle="modal" data-target="#myModal_group" class="btn bg-blue-steel bg-font-blue-steel">{{'添加组'|translate}}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-12">
				<div class="portlet light bordered">
					<div class="portlet-body">
						<table class="table table-striped table-bordered table-hover ">
							<thead>
								<tr>
									<th> {{'组号'|translate}} </th>
									<th> {{'组名'|translate}} </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1d44177e-499f-11e7-a554-fa163e876164</td>
									<td>{{'设备1'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="hidden" id="myModal_group_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_group">
		<div id="myModal_group" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a href="javascript:;" class="close" data-dismiss="modal" aria-hidden="true"></a>
						<h4 class="modal-title">{{'添加组'|translate}}</h4>
					</div>
					<div class="modal-body">
						<div class="portlet">
							<form  class="form-horizontal" role="form" name="GroupInfo">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-4 control-label">{{'组名'|translate}}<span class="required"> * </span></label>
										<div class="col-md-6">
											<input name="groupName" ng-model="modalgroupName" type="text" class="form-control" placeholder="{{'必填'|translate}}" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label"></label>
										<div class="col-md-5">
											<button type="button" class="btn btn-primary ok" ng-disabled="!GroupInfo.groupName.$valid"  type="submit" ng-click="ChangeAppInfoFun()" data-dismiss="modal">{{'确认'|translate}}</button>
											<button type="button" class="btn btn-default cancel" data-dismiss="modal">{{'取消'|translate}}</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
