<div>
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN Search Line -->
			<div class="row">
				<div class="form-group col-lg-3">
					<div class="input-icon right">
						<i ng-click="SearchApp()" class="icon-magnifier"></i>
						<input ng-model="Keyword" type="text" class="form-control" placeholder="{{'请输入关键字'|translate}}"> 
					</div>
				</div>
				<div class="form-group col-lg-3">
					<a ng-click="addApp()" data-original-title="{{'点击添加我的应用'|translate}}" data-toggle="modal" data-target="#myModal_app" class="btn bg-blue-steel bg-font-blue-steel">{{'添加应用'|translate}}</a>
				</div>
			</div>
			<!-- END Search Line -->
			<!-- BEGIN:app_list -->
			<div class="row" ng-show="totalItems===0">
				<div class="form-group col-lg-12"><h4>{{'暂无应用'|translate}}</h4></div>
			</div> 
			<div class="row" ng-show="totalItems!==0">
				<div class="form-group col-lg-12">
					<div class="portlet light bordered">
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover ">
								<thead>
									<tr>
										<th> {{'名称'|translate}} </th>
										<th> APPEUI </th>
										<th> {{'设备数量'|translate}} </th>
										<th> {{'组数'|translate}} </th>
										<th> {{'创建时间'|translate}} </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#/lora/application/app_details.html?ID=23" target="_blank"> holly </a></td>
										<td><a href="#/lora/application/app_details.html?ID=23" target="_blank"> C8-46-32-0C-E4-21-6A-D2 </a></td>
										<td> 3 </td>
										<td> 2 </td>
										<td> 2017-06-19 16:09:13 </td>
									</tr>
								</tbody>
							</table>
						</div>
						<uib-pagination total-items="totalItems" first-text="{{'首页'|translate}}" previous-text="{{'上一页'|translate}}" next-text="{{'下一页'|translate}}" last-text="{{'尾页'|translate}}" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
					</div>
				</div>
			</div>
			<!-- BEGIN:app_list -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" id="myModal_app_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_app">
			<div id="myModal_app" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a href="javascript:;" class="close" data-dismiss="modal" aria-hidden="true"></a>
							<h4 class="modal-title">{{'添加应用'|translate}}</h4>
						</div>
						<div class="modal-body">
							<div class="portlet">
								<form  class="form-horizontal" role="form" name="AppInfo">
									<div class="form-body">
										<div class="form-group">
											<label class="col-md-4 control-label">{{'应用名称'|translate}}<span class="required"> * </span></label>
											<div class="col-md-6">
												<input name="appName" ng-model="modalAppName" type="text" class="form-control" placeholder="{{'必填'|translate}}" required>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label">AppEUI<span class="required"> * </span>
											</label>
											<div class="col-md-6">
												<input name="appEUI" ng-model="modalAppEUI" type="text" class="form-control" placeholder="C8-46-32-0C-E4-21-6A-D2" required>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label"></label>
											<div class="col-md-5">
												<button type="button" class="btn btn-primary ok" ng-disabled="!AppInfo.appName.$valid||!AppInfo.appEUI.$valid"  type="submit" ng-click="ChangeAppInfoFun()" data-dismiss="modal">{{'确认'|translate}}</button>
												<button type="button" class="btn btn-default cancel" data-dismiss="modal">{{'取消'|translate}}</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
