<div class="row" ng-controller="AppDetailsBaseController">
	<div class="col-md-12">
		<div class="col-md-8 portlet light bordered">
			<div class="col-md-11">
				<h3>holly</h3>
				<h5>APPEUI：C8-46-32-0C-E4-21-6A-D2</h5>
				<h5>创建时间：2017-06-19 16:09:13</h5>
			</div>
			<div class="col-md-1">
				<a ng-click="DelectFun(appid)" class="btn btn-sm btn-outline red-soft">
					<i class="fa fa-trash-o" title="{{'删除应用'|translate}}"></i>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="color-demo tooltips">
				<div class="color-info bg-blue-soft bg-font-blue-soft"> {{'结点数'|translate}} </div>
				<div class="color-view bg-white"> 3 </div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="color-demo tooltips">
				<div class="color-info bg-blue-soft bg-font-blue-soft"> {{'组数'|translate}} </div>
				<div class="color-view bg-white"> 0 </div>
			</div>
		</div>
	</div>
	<div class="col-md-12"><hr/></div>
	<div class="col-md-12">
		<div class="row form-group"><h4>{{'设备列表'|translate}}</h4></div>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<i ng-click="SearchDevice()" class="icon-magnifier"></i>
					<input ng-model="Keyword" type="text" class="form-control input-sm" placeholder="{{'请输入关键字'|translate}}"> 
				</div>
			</div>
		</div>
		<div class="row" ng-show="totalItems===0">
			<div class="form-group col-lg-12"><h4>{{'暂无设备'|translate}}</h4></div>
		</div> 
		<div class="row" ng-show="totalItems!==0">
			<div class="form-group col-lg-12">
				<div class="portlet light bordered">
					<div class="portlet-body">
						<table class="table table-striped table-bordered table-hover ">
							<thead>
								<tr>
									<th> {{'名称'|translate}} </th>
									<th> DevEUI </th>
									<th> DevAddr </th>
									<th> {{'城市'|translate}} </th>
									<th> {{'区域'|translate}} </th>
									<th> {{'类型'|translate}} </th>
									<th> {{'ISM频段'|translate}} </th>
									<th> {{'最近活动时间'|translate}} </th>
									<th> {{'创建时间'|translate}} </th>
									<th> {{'操作'|translate}} </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>device2</td>
									<td>6E-C3-B1-81-73-C1-83-35</td>
									<td>06-EC-21-B7</td>
									<td>{{'上海'|translate}}</td>
									<td>{{'空'|translate}}</td>
									<td>{{'空'|translate}}</td>
									<td>CN470</td>
									<td>{{'空'|translate}}</td>
									<td>2017-06-19 19:44:20</td>
									<td> <a class="btn bg-red bg-font-red btn-sm" ng-click="DeleteDeviceFun(deviceid)"> {{'删除'|translate}} </a> </td>
								</tr>
							</tbody>
						</table>
					</div>
					<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
