<div class="row">
	<div class="col-md-12">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-body">
				<div class="form-body form">
					<form  class="form-horizontal" role="form" name="TaskDetail">
						<div class="form-group col-md-12"></div>
						<div ng-show="ChooseOTAFlag">
							<div class="form-group">
								<label class="col-md-2 control-label">{{'所属产品'|translate}}<span class="required"> * </span></label>
								<div class="col-md-4">
									<select ng-disabled="chooseproflag" ng-change="ChangePro()" ng-model="BelongProID" ng-options="o.productid as o.pname for o in ProductArrs" class="form-control">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">{{'选择OTA'|translate}}<span class="required"> * </span></label>
								<div class="col-md-4">
									<a ng-disabled="startflag||!BelongProID" ng-click="AddNew()" class="btn bg-blue-steel bg-font-blue-steel">{{'添加OTA'|translate}}</a>
								</div>
							</div>
							<div class="form-group" ng-hide="ListArr.length==0">
								<label class="col-md-1 control-label"></label>
								<div class="col-md-10">
									<div class="portlet light">
										<div class="portlet-body">
											<table class="table table-striped table-bordered table-hover ">
												<thead>
													<tr>
														<th> {{'OTA文件ID'|translate}}</th>
														<th> {{'文件名'|translate}}</th>
														<th> {{'固件版本号'|translate}}</th>
														<th> {{'描述'|translate}}</th>
														<th> {{'上传时间'|translate}}</th>
														<th ng-show="!startflag"> {{'操作'|translate}}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in ListArr">
														<td>{{item.ofid}}</td>
														<td>{{item.file_name}}</td>
														<td>{{item.version}}</td>
														<td>{{item.description}}</td>
														<td>{{item.upload_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
														<td ng-show="!startflag">
															<a ng-disabled="startflag" class="btn bg-red bg-font-red btn-sm" ng-click="DeleteOTAFun(item)"> {{'删除'|translate}} </a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">{{'任务状态'|translate}}<span class="required"> * </span></label>
							<div class="col-md-4">
								<select ng-model="status" ng-options="o.ID as o.Name for o in Status" class="form-control" ng-disabled="1">
									<option value=""></option>
								</select>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-md-2 control-label">生效时间<span class="required"> * </span></label>
							<div class="col-md-4">
								<div class="input-group date form_meridian_datetime" data-date="2017-05-05 00:00:59">
									<input type="text" size="16" class="form-control" ng-model="effectivetime" ng-disabled="startflag">
									<span class="input-group-btn">
										<button class="btn default date-reset" type="button" ng-disabled="startflag">
											<i class="fa fa-times"></i>
										</button>
										<button class="btn default date-set" type="button" ng-disabled="startflag">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-md-2 control-label">{{'升级说明'|translate}}</label>
							<div class="col-md-4">
								<textarea name="Description" ng-model="description" class="form-control" rows="3" ng-disabled="startflag"></textarea>
							</div>
						</div><!-- 
						<div class="form-group">
							<label class="col-md-2 control-label">接入方式</label>
							<div class="col-md-4">
								<select ng-model="accesstype" ng-options="o.ID as o.Name for o in AccessTypes" class="form-control" ng-disabled="startflag">
									<option value=""></option>
								</select>
							</div>
						</div> -->
						<div class="form-group" ng-show = "false">
							<label class="col-md-2 control-label">{{'通知类型'|translate}}</label>
							<div class="col-md-4">
								<select ng-model="noticetype" ng-options="o.ID as o.Name for o in NoticeTypes" class="form-control" ng-disabled="startflag">
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-show = "false">
							<label class="col-md-2 control-label">{{'升级方式'|translate}}</label>
							<div class="col-md-4">
								<select ng-model="upgrade" ng-options="o.ID as o.Name for o in UpGrades" class="form-control" ng-disabled="startflag">
									<option value=""></option>
								</select>
							</div>
						</div>
						<!-- <div ng-show="ModalStype==1">
							<div class="form-group">
								<label class="col-md-2 control-label">设备范围</label>
								<div class="col-md-4">
									<input class="form-control" ng-model="devicerange">
								</div>
								<div class="col-md-4">
									<a ng-click="CheckClick()" class='btn btn-primary'>检测范围</a>
								</div>
							</div>
							<div class="form-group" ng-show="checkFlag">
								<div class="col-md-12" ng-show="totalItems===0">
									<div class="form-group col-lg-12"><h4>暂无设备</h4></div>
								</div> 
								<div class="col-md-12" ng-show="totalItems!==0">
									<div class="form-group col-lg-12">
										<div class="portlet light bordered">
											<div class="portlet-body">
												<table class="table table-striped table-bordered table-hover ">
													<thead>
														<tr>
															<th> 设备ID </th>
															<th> MAC地址 </th>
															<th> 所属产品 </th>
															<th> 累计上线次数 </th>
															<th> 是否有效 </th>
															<th> 在线状态 </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in ListArr">
															<td><a href="#/device/device_details.html?ID={{item.deviceid}}" target="_blank">{{item.deviceid}}</a></td>
															<td>{{item.mac}}</td>
															<td>{{item.product.pname}}</td>
															<td>{{item.onlinecount}}</td>
															<td>
																<span class="label label-sm label-info" ng-show="item.status"> {{item.IsActiveText}} </span>
																<span class="label label-sm label-warning" ng-show="!item.status"> {{item.IsActiveText}} </span>
															</td>
															<td>
																<span class="label label-sm label-info" ng-show="item.onlinestatus"> {{item.IsOnlineText}} </span>
																<span class="label label-sm label-warning" ng-show="!item.onlinestatus"> {{item.IsOnlineText}} </span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
										</div>
									</div>
								</div>
							</div>
						</div>-->
						
						<div ng-show="ModalStype==2">
							<div class="form-group">
								<label class="col-md-2 control-label">{{'相关设备'|translate}}</label>
							</div>
							<div class="form-group">
								<div  class="col-md-12" ng-show="DetailtotalItems===0">
									<div class="form-group col-lg-12"><h4>{{'暂无设备'|translate}}</h4></div>
								</div> 
								<div  class="col-md-12" ng-show="DetailtotalItems!==0">
									<div class="form-group col-lg-12">
										<div class="portlet light bordered">
											<div class="form-group bold">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'完成进度：'|translate}}{{complete_percentage}}%
											</div>
											<div class="portlet-body">
												<table class="table table-striped table-bordered table-hover ">
													<thead>
														<tr>
															<th> {{'设备ID'|translate}} </th>
															<th> {{'DSN地址'|translate}} </th>
															<th> {{'更新状态'|translate}} </th>
															<th> {{'更新时间'|translate}} </th>
															<th> {{'操作'|translate}} </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in DetailListArr">
															<td><a href="#/device/device_details.html?ID={{item.device_id}}" target="_blank">{{item.device_id}}</a></td>
															<td>{{item.dsn}}</td>
															<td>
																<span class="label label-sm label-info" ng-show="item.status"> {{'已检查'|translate}}</span>
																<span class="label label-sm label-default" ng-show="!item.status"> {{'未更新'|translate}} </span>
															</td>
															<td>{{item.onset_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
															<td>
																<a data-toggle="modal" data-target="#myModal_parameter" class="btn bg-green-soft bg-font-green-soft btn-sm" ng-click="ToLogFun(item.odid)"> {{'日志'|translate}} </a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<uib-pagination total-items="DetailtotalItems" ng-model="DetailcurrentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="DetailpageChanged()"></uib-pagination>
										</div>
									</div>
								</div>
							</div>
						</div> 
						<div class="form-group" ng-show="!startflag" >
							<label class="col-md-3 control-label"></label>
							<div class="col-md-5">
								<input ng-show="otaflag" ng-disabled="!BelongProID||!(ListArr.length)||!status" ng-click="SureFun(1)" class="btn bg-blue-steel bg-font-blue-steel" type="submit" value="{{'确认'|translate}}"/>
								<input ng-show="!otaflag" ng-disabled="!status" ng-click="SureFun(1)" class="btn bg-blue-steel bg-font-blue-steel" type="submit" value="{{'确认'|translate}}"/>
								<input ng-click="SureFun(0)" class="btn bg-default bg-font-default" type="submit" value="{{'取消'|translate}}"/>
							</div>
						</div>
						<div class="form-group" ng-show="startflag" >
							<label class="col-md-3 control-label"></label>
							<div class="col-md-5">
								<input ng-click="SureFun(0)" class="btn bg-default bg-font-default" type="submit" value="{{'返回'|translate}}"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<input type="hidden" id="myModal_parameter_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_parameter">
		<div id="myModal_parameter" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<a href="javascript:;" class="close" data-dismiss="modal" aria-hidden="true"></a>
						<h4 class="modal-title">{{'设备相关日志'|translate}}</h4>
					</div>
					<div class="modal-body">
						<div class="portlet">
							<div class="portlet-body form">
								<div class="row" ng-show="ModaltotalItems===0">
									<div class="form-group col-lg-12"><h4>{{'暂无日志'|translate}}</h4></div>
								</div> 
								<div class="row" ng-show="ModaltotalItems!==0">
									<div class="form-group col-lg-12">
										<div class="portlet light bordered">
											<div class="portlet-body">
												<table class="table table-striped table-bordered table-hover ">
													<thead>
														<tr>
															<th> {{'操作内容'|translate}} </th>
															<th> {{'操作时间'|translate}} </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in ModalListArr">
															<td>{{item.content}}</td>
															<td>{{item.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
														</tr>
													</tbody>
												</table>
											</div>
											<uib-pagination total-items="ModaltotalItems" ng-model="ModalcurrentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="ModalpageChanged()"></uib-pagination>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
